
header {
    position: relative;
    width: 1150px;
    margin: 0 auto;
    padding-top: 33px;
    margin-bottom: 70px;

}

.header-inner {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.nav_link {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #121212;
}

.nav_link:hover {
    opacity: 0.5;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.nav_link:last-child {
    margin-right: 0px;
}


.burger-btn {
    display: none;
}

@media (max-width: 1199px) {
    header {
        width: 100%;
        padding-right: 15px;
        padding-left: 17px;
    }
}

@media (max-width: 767px) {
    header {
        padding-right: 12px;
        padding-left: 13px;
    }

    .nav-header {
        display: none;
    }

    .burger-btn {
        display: block;
        height: 40px;
        width: 40px;
        background-color: black;
        z-index: 2200;
    }

    
}

@media (max-width: 400px) {
    header {
        margin-bottom: 61px;
    
    }
}