.ItemListServicesWrapper {
    background-color: #121212;

}

.item_list-services {
    margin: 0 auto;
    padding-top: 151px;
    padding-bottom: 150px;
    width: 1150px;
    box-sizing: border-box;

    background-color: #121212;
    color: #fff;
}

.item-services-text {
    margin-bottom: 34px;
    margin-left: 2px;

    font-size: 18px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fff;
}

.item-list-wrapper {
    margin-bottom: 60px;

    font-size: 30px;
    letter-spacing: -0.03em;
    color: #fff;
}

.item-list-wrapper img{
    margin-bottom: 15px;
}



@media (max-width: 1199px) {

}

@media (max-width: 767px) {
    
}

@media (max-width: 400px) {
    
}